:root {
  --mainColor: #eb102c;
  --subColor: #dd4342;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "SCoreDream";
  word-break: keep-all;
  scroll-behavior: smooth;
}

.swiper-slide.curSlid,
button {
  cursor: pointer;
}

a {
  color: #222;
}

/* 관리자 페이지 속성 */
#right_div #userInfoBig {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.userInfoBox {
  position: relative;
  width: 258px;
  height: 321px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  gap: 2px 0;
}
.userInfoBox .userImg {
  width: 150px;
  height: 150px;
  background: #eee;
  border-radius: 50%;
  margin: 0 0 20px;
}
.userInfoBox .userName {
  font-weight: 500;
}

#right_div.admin_right_div input {
  height: 70px;
  width: 88%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  background: #eee;
}

#right_div.admin_right_div input::-webkit-search-cancel-button {
  display: none;
}

#right_div.admin_right_div input ~ .counter {
  font-size: 17px;
  margin: 3px 0 0 5px;
}

/* 공통+개인 페이지 속성 */
#homeBtn {
  position: absolute;
  top: -50px;
  left: 19px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

#homeBtn i {
  font-size: 30px;
}

#homeBtn * {
  color: var(--subColor);
}

#container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left_div {
  color: white;
  width: 30%;
  border-radius: 0 100px 0 0;
  max-width: 450px;
  height: 93%;
  background: var(--subColor);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
}
#god {
  font-size: 19px;
  font-weight: 500;
}
#god i {
  margin-right: 8px;
}

.profImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}

.profImg img {
  width: 100%;
}

#right_div {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 50px 0 30px 30%;
}
#right_div h1 {
  font-size: 35px;
}
#right_div > div {
  width: 80%;
}
#right_div .noHeartTxt {
  text-align: center;
  color: #888;
}
.delBtn {
  background: none;
  padding: 5px;
  border: none;
  color: var(--mainColor);
}
.delBtn.delBtnAdmin {
  position: absolute;
  top: 10px;
  right: 10px;
}
#content {
  text-align: center;
  margin-bottom: 150px;
}
#showList {
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px 40px;
  background: #eee;
}
#content div {
  margin: 20px;
}
#content h1 {
  font-size: 32px;
}
#content h3 {
  font-size: 20px;
}
#content #passRewrite {
  font-size: 16px;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  position: relative;
  height: 100%;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 298px;
  margin: 30px 0 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.swiper-slide .foodDel {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid var(--subColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 11px;
}

.swiper-slide .foodDel i {
  color: var(--subColor);
}

.swiper-slide p {
  font-weight: bold;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: var(--mainColor);
}

#show_title_div {
  padding: 0 0 0 18px;
}
#show_title_div h2 {
  font-size: 23px;
  margin: 0 0 15px;
}
#show_title_div p {
  display: flex;
  align-items: center;
  font-size: 19px;
  flex-wrap: wrap;
  gap: 5px 0;
  margin: 0 0 10px 0;
}
#show_title_div p span:nth-child(2) {
  margin-left: 15px;
}
#show_title_div p span:nth-child(3) {
  margin-left: 40px;
}
#p1 {
  color: white;
}
#show_title_div div {
  margin: 40px 0;
}
#show_title_div .showTit {
  font-weight: 500;
}

section#foodSect h1 {
  margin: 30px 0;
}

#foodSect article {
  margin: 30px 0;
  max-width: 950px;
}

#foodSect article h2 {
  font-size: 30px;
}
#foodSect article > p {
  font-size: 18px;
}
#foodSect article .iconWrap {
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 20px 0 15px;
}

#foodSect article .iconWrap i {
  font-size: 33px;
}
#foodSect article .iconWrap p {
  font-size: 17px;
}
#foodSect article .infoWrap {
  font-size: 18px;
  margin: 0 0 20px;
}
.infoWrap i {
  margin: 0 5px 0 0;
}
.infoWrap div {
  margin: 7px 0 7px 3px;
}
#JJimH1 {
  margin-top: 30px;
}
#infoArticle {
  border-radius: 20px;
}
#foodSect article .menuWrap div {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  margin-bottom: 15px;
  justify-content: space-between;
}

#foodWrap {
  border-radius: 15px;
  padding: 20px 40px;
  background-color: #eee;
}
@media screen and (max-width: 1090px) {
  #right_div > div {
    width: 90%;
  }
}
@media screen and (max-width: 870px) {
  #homeBtn {
    top: 15px;
    left: 10px;
    flex-direction: column;
  }
  #homeBtn * {
    color: white;
  }
  #container {
    display: block;
    height: 170vh;
  }
  #left_div {
    width: 100%;
    max-width: none;
    height: 35%;
    position: static;
    border-radius: 0;
  }

  #left_div.admin_left_div {
    justify-content: center;
  }

  #content {
    margin: 0;
  }
  #god {
    position: absolute;
    top: 20px;
    right: 35px;
  }
  #right_div {
    margin: 0;
    width: 100%;
  }
  #right_div.admin_right_div {
    margin: 50px 0;
  }
  #right_div #userInfoBig {
    width: 100%;
  }
  #right_div #foodWrap {
    margin: 50px 0 70px 0;
  }
}
@media screen and (min-width: 1500px) {
  #right_div {
    margin-left: 20%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #f4f6f8;
}

::-webkit-scrollbar-thumb {
  background: var(--subColor);
  border-radius: 10px;
}
