footer {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

footer img {
  cursor: pointer;
  width: 80px;
}

#footer_top {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px 30px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#footer_mid {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 650px) {
  footer img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  footer {
    height: auto;
    padding: 10px;
  }
}
