/* 헤더 */

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* 나브 */
header nav {
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    backdrop-filter: blur(3px);
    position: relative;
    z-index: 3;
}

#logo {
    width: 120px;
}
/* 보이는 나브안에 있는 로고 */
nav #logo img {
    width: 60%;
    height: auto;
}
/* 숨겨진 나브안에 있는 로고 */
#hidden_logo {
    width: 70px;
}
/* 보이는 나브안에 있는 GNB_MENU */
.gnb_menu {
    display: flex;
    gap: 30px;
    margin: 0;
}
#gnb_menu {
    display: flex;
    gap: 30px;
}
.gnb_menu li {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
}
.gnb_menu a {
    color: black;
}
.gnb_menu span {
    font-size: 20px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#between {
    width: 1px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 숨겨진 나브안에 있는 토글메뉴 */
#hidden_nav i {
    font-size: 30px;
    cursor: pointer;
}
/* 헤더 타이틀 */
#Header_title {
    position: absolute;
    top: 30%;
    left: 10vw;
    color: white;
    font-size: 50px;
}

#Header_title * {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
#Header_title h1 {
    line-height: 100px;
    text-indent: -5px;
}
/* 메인헤더 캐러셀 */
#carouselExampleFade {
    width: 100%;
    height: 92vh;
    overflow: hidden;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 1024px) {
    /* 보이는 나브 */
    #view_nav {
        background-color: aliceblue;
        width: 50%;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        font-size: 24px;
        font-weight: bold;
        overflow-x: hidden;
        transition: right 0.9s ease;
        z-index: 10;
    }
    /* X 로고 */
    #xmark {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
    }
    /* 보이는 로그인 섹션 */
    #rogin {
        position: absolute;
        top: 10%;
        right: 10px;
    }
    #rogin li {
        font-size: 20px;
    }
    .rogin {
        display: flex;
        gap: 40px;
    }
    /* 보이는 글로벌 메뉴 */
    #gnb_menu {
        flex-direction: column;
        position: absolute;
        top: 25%;
        right: 50px;
        text-align: end;
    }
    /* 로고 */
    #logo {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    #hidden_nav {
        display: none;
    }
    #xmark {
        display: none;
    }

    .gnb_menu li a {
        position: relative;
    }
    .gnb_menu li a::after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 2px;
        background: black;
        transition: all 0.2s;
        transform-origin: left;
    }
    .gnb_menu li:hover a::after {
        width: 100%;
    }
}
