#Show_section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fff;
}
#Show_container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 10px;
}
/* Show 타이틀 */
#show_title_div h3 {
  text-align: end;
  position: relative;
}
#show_title_div h3::before {
  position: absolute;
  inset: 24px 105px 0 auto;
  content: "";
  display: inline-block;
  height: 2px;
  width: 160px;
  background-color: black;
}
#main_img_div {
  width: 100%;
  height: 90%;
}
#show_title_div h2 {
  text-align: end;
}

/* 이미지  */
#show_left_img_div {
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

#show_left_img_div #show_left1 {
  background: url("../image/show2.jpg");
}

#show_left_img_div #show_left2 {
  background: url("../image/show3.png");
}

#show_left_img_div #show_left1,
#show_left_img_div #show_left2 {
  background-size: 110%;
  position: relative;
  display: grid;
  overflow: hidden;
}

#show_right_img_div {
  position: relative;
  width: 90%;
  max-width: 600px;
  height: 28%;
  border-radius: 20px;
  margin: 60px auto;
  overflow: hidden;
  background: url("../image/show1.jpg");
  background-size: cover;
  background-position: 75% 50%;
  display: grid;
}

.showImgName {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 2px 2px 10px gray;
  margin: 20px 0 0 25px;
  z-index: 10;
}

.showLeName {
  font-size: 30px;
  padding: 10px 0 0 0;
}

#showBlack {
  display: grid;
}
#showBlack p {
  justify-self: end;
  align-self: flex-end;
  color: white;
  font-weight: 500;
  margin: 0 40px 20px;
  font-size: 22px;
  transform: translateY(50px);
  transition: transform 0.3s;
  position: relative;
}

#show_left1:hover #showBlack,
#show_left2:hover #showBlack,
#show_right_img_div:hover #showBlack {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  transition: all 0.2s;
}
#show_left1:hover #showBlack p,
#show_left2:hover #showBlack p,
#show_right_img_div:hover #showBlack p {
  transform: translateY(-10px);
}
.uip {
  max-width: 600px;
  width: 90%;
  height: 50%;
  background: red;
  margin: 30px auto;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  #main_img_div {
    display: flex;
  }
  #show_left_img_div {
    width: 100%;
    height: 70%;
    margin: 10px;
  }
  #show_right_img_div {
    width: 100%;
    height: 70%;
    margin: 60px 10px 10px;
  }
  #show_title_div h2 {
    margin-right: 10px;
  }
  #show_left_img_div {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  #Show_container {
    position: relative;
    display: flex;
  }
  #main_img_div {
    margin-top: 5%;
  }
  #show_title_div {
    position: absolute;
    top: 100px;
    right: 0;
  }
  #main_img_div {
    width: 70%;
  }
}
@media screen and (min-idth: 1500px) {
  #Show_section {
    height: 100vh;
  }
}

/* 모달창 옵션 */
#showModal1 {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

#showModalIn1 {
  width: 90%;
  max-width: 750px;
  height: 600px;
  top: 100px;
  z-index: 10;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 10% auto;
}

#showModalImg {
  width: 100%;
  height: 200px;
  background: url("../image//show4.PNG");
  background-size: cover;
  background-position: center;
}

#showModalIn1 h4 {
  font-size: 30px;
  margin: 15px 10px 10px;
}
#showModalIn1 p {
  margin: 0 10px 5px;
  font-size: 18px;
}
#showModalIn1 a {
  color: black;
}
