:root {
  --mainColor: #eb102c;
  --mainBlack: #362f2f;
}
/* 모달 내부 스타일 */
.SignWrap,
.loginWrap {
  margin: 50px auto;
  width: 500px; /* 모달의 너비 */
  height: 700px;
}

#signTitle,
#loginTitle {
  font-size: 35px;
  text-align: center;
  margin: 0 0 40px;
}

#loginForm,
#signupForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginForm .loginInputs,
#signupForm .signupInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.signInput,
.loginInput {
  width: 406px;
  height: 55px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px rgb(156, 163, 175);
  border-radius: 10px;
  padding: 0 5px;
}

.signInput,
.loginInput {
  padding-left: 10px;
  font-size: 20px;
}

.loginInput:placeholder-shown + .label-custom,
.signInput:placeholder-shown + .label-custom {
  color: #6b7280;
  top: 13px;
  font-size: 20px;
}

.label-custom {
  position: absolute;
  font-size: 16px;
  top: -13px;
  left: 5px;
  background-color: white;
  padding: 0 0.5rem;
  transition: all 0.25s;
}

.loginInput:focus,
.signInput:focus {
  box-shadow: 0 0 0 2px dodgerblue;
}

.loginInput:focus + .label-custom,
.signInput:focus + .label-custom {
  color: dodgerblue;
  top: -13px;
  font-size: 16px;
}

#loginSubmitBtn,
#signSubmitBtn {
  width: 406px;
  height: 60px;
  font-size: 20px;
  border-radius: 13px;
  margin-top: 60px;
  background: none;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  font-weight: bold;
}

.naverBtn {
  background: #03c75a;
  color: white;
}

.googleBtn {
  background: #fae100;
  color: #3a1c1e;
}

.naverBtn,
.googleBtn {
  border: none;
  border-radius: 13px;
  width: 406px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

#goSign {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .loginWrap,
  .loginWrap2 {
    width: 95%;
  }
  .loginWrap .signupInputs,
  .loginWrap2 .loginInputs {
    width: 100%;
  }
  .loginWrap .signupInputs div,
  .loginWrap2 .loginInputs div {
    width: 100%;
  }
  .loginWrap input,
  .loginWrap2 input {
    width: 100%;
  }

  .loginWrap2 #loginBox {
    width: 100%;
  }
}
