<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 헤더 스타일시트 -->
    <link rel="stylesheet" href="../css/Header_style.css" />
    <!-- 구글 폰트 -->
    <link
      href="https://webfontworld.github.io/SCoreDream/SCoreDream.css"
      rel="stylesheet"
    />
    <!-- 폰트 어썸 -->
    <script
      src="https://kit.fontawesome.com/247e9f18da.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/style.css" />
    <!-- 푸터 스타일시트 -->
    <link rel="stylesheet" href="../css/Footer_style.css" />
    <!-- 모달 로그인  -->
    <link rel="stylesheet" href="../css/Login.css" />
    <link rel="stylesheet" href="../css/Sign.css" />

    <script type="text/javascript" src="jquery-1.12.1.min.js"></script>

    <style>
      header {
        height: auto;
      }
      section {
        width: 100%;
        height: 100vh;
      }
      nav {
        background-color: gray;
      }
    </style>
  </head>
  <body>
    <!-- 헤더 -->
    <header class="sections">
      <!-- 헤더_안에있는 나브부분 -->
      <nav id="view_nav">
        <!-- 피시 나브 안에 왼쪽 로고 -->
        <div id="logo">
          <a href="../index.html"><img src="../image/logo.svg" alt="logo" /></a>
        </div>
        <!-- 피시 나브 안에 중간부분 -->
        <div>
          <div id="xmark"><i class="fa-solid fa-xmark"></i></div>
          <ul id="gnb_menu" class="gnb_menu">
            <li><a href="#dongsungro">소개</a></li>
            <li><a href="#Good_foodlist">맛집</a></li>
            <li><a href="#Show_section">공연</a></li>
            <li><a href="#youtube_section">유튜브</a></li>
          </ul>
        </div>
        <!-- 피시 나브 안에 우측 로그인부분 -->
        <div>
          <ul id="rogin" class="gnb_menu">
            <li id="loginButton">로그인</li>
            <span id="between"><span>|</span></span>
            <li id="openModalBtn">회원가입</li>
          </ul>
        </div>
      </nav>
      <nav id="hidden_nav">
        <!-- 모바일 나브 안에 왼쪽 로고 -->
        <div id="hidden_logo">
          <a href="../index.html"><img src="../image/logo.svg" alt="logo" /></a>
        </div>
        <!-- 모바일 나브 안에 우측 토글버튼부분 -->
        <div id="toggle">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </header>
    <section class="sections">
      <div>
        <p id="usernameDisplay" style="color: black"></p>
      </div>
    </section>
    <footer class="sections">
      <img src="../image/logo.svg" alt="logo" />
      <!-- 제일위  -->
      <div id="footer_container">
        <div id="footer_top">
          <p style="font-weight: bold">관련 사이트</p>
          <a href="https://thegoodnight.daegu.go.kr/kr/" target="_blank">
            <p>더굿나잇</p>
          </a>
          <a href="https://tour.daegu.go.kr/" target="_blank">
            <p>대구트립로드</p>
          </a>
          <a href="https://www.daegufood.go.kr/" target="_blank">
            <p>대구푸드</p>
          </a>
          <a href="http://www.daegucvb.com/mice/main/" target="_blank">
            <p>컨벤션뷰로</p>
          </a>
        </div>
        <div id="footer_mid">
          <p>
            <b>한국관광공사</b>&nbsp;&nbsp; 26464 강원특별자치도 원주시 세계로
            10 한국관광공사 | TEL: 033-738-3000 | 통신판매업신고 : 제
            2022-강원연수-0381호
          </p>
        </div>
      </div>
    </footer>
    <script>
      //url 받아오기
      function getUsernameFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get("username");
      }

      // 페이지 로드 시 사용자 이름을 확인하여 화면에 표시하는 함수
      document.addEventListener("DOMContentLoaded", function () {
        const username = getUsernameFromURL();

        if (username) {
          getUserInfo(username);
          const loginButton = document.getElementById("loginButton");
          const openModalBtn = document.getElementById("openModalBtn");
          const between = document.getElementById("between");

          hideElements([loginButton, openModalBtn, between]);

          const ul = document.getElementById("rogin");
          const user = createListItem("userinfo", `${username}님의 마이페이지`);
          const logout = createListItem("logout", "로그아웃");
          logout.addEventListener("click", function () {
            logoutUser();
          });

          appendElements(ul, [user, logout]);

          function createListItem(className, text) {
            const li = document.createElement("li");
            li.classList.add(className);
            li.textContent = text;
            return li;
          }
          function hideElements(elements) {
            elements.forEach((element) => {
              element.style.display = "none";
            });
          }
          function appendElements(parent, elements) {
            elements.forEach((element) => {
              parent.appendChild(element);
            });
          }
          function logoutUser() {
            $.ajax({
              url: "http://dongseong.dothome.co.kr/logout.php",
              type: "POST",
              dataType: "json",
              success: function (response) {
                if (response.success) {
                  alert(response.message);
                  window.location.href = "http://dongseong.dothome.co.kr";
                  sessionStorage.removeItem("username");
                } else {
                  alert(response.message);
                }
              },
              error: function (xhr, status, error) {
                console.error("AJAX 요청 중 오류 발생:", error);
              },
            });
          }
        }
      });

      function getUserInfo(username) {
        $.ajax({
          url:
            "http://dongseong.dothome.co.kr/mypage.php?username=" +
            encodeURIComponent(username),
          type: "GET",
          dataType: "json",
          success: function (response) {
            if (response.success) {
              console.log(response.userInfo); // 사용자 정보를 받아옴
            } else {
              alert(response.message);
            }
          },
          error: function (xhr, status, error) {
            console.error("AJAX 요청 중 오류 발생:", error);
          },
        });
      }
    </script>
    <!-- 헤더 스크립트 -->
    <script src="../js/Header_script.js"></script>
    <!-- 모달 로그인  -->
  </body>
</html>
